.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.toast-message-wrap {
  max-width: 20rem;
  margin-bottom: 1rem;
  text-align: right;
}

.toast-message-wrap:last-child {
  margin-bottom: 0;
}

.toast-message {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  opacity: 0;
  transition: opacity 400ms;
}

.toast-message--visible {
  opacity: 1;
}
